[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "==3.*"
django = ">=1.11.23"
celery = "==4.*"
six = "*"
coverage = "*"

[dev-packages]
mock = "*"
pytest-django = "*"

[requires]
python_version = "3.6"
